<h2>My Heroes</h2>
<ul class="model.lista">
  <li *ngFor="let usuario of model.lista" style="margin-top:10px;">
    <button type="button">
      <span class="badge">{{usuario.nombre}} {{usuario.apellido1}} {{usuario.apellido2}}</span>
      <span class="fNac">{{usuario.fNac}}</span>
    </button>
  </li>
</ul>