.menu{
    
    background-color: cadetblue;
    width: unset;
    height: 30px;
    list-style-type: none;
}

.menu-elem{
    float:left;
    margin-left: 20px;
    color: darkslategray;
    
}

a::-moz-selection { /* Code for Firefox */
    color: darkslategray;
    background-color: chartreuse;
}

a::selection {
    color: darkslategray;
    background: chartreuse;
}