<ul class="menu">
    <li class="menu-elem">
        <a href="/login">LOGIN</a>
    </li>
    <li class="menu-elem">
        <a href="/lista">LISTA</a>
    </li>
    <li class="menu-elem">
        <a href="/formulario">FORMULARIO</a>
    </li>
    
</ul>

<router-outlet></router-outlet>
